<div class="offset-2"></div>
<div class="list-wrapper position-fixed">
    <div class="blog-list-group mt-3">
        <div class="my-home list-item">
            <a href="/blog/profile/<%= userData.userInfo.name%>" id="his-home"><i class="fa fa-home mr-1"></i>
                <% if(userData.isMe) { %>
                    我的空间
                <% } else { %>
                    他的空间
                <% } %>
            </a>
        </div>
        <div class="my-follow list-item">
            <a href="/blog/profile/<%= userData.userInfo.name%>?type=followers" id="his-followers"><i class="fa fa-user-circle-o mr-1"></i>
                <% if(userData.isMe) { %>
                我的关注
                <% } else { %>
                他的关注
                <% } %>
            </a>
        </div>
        <div class="my-fans list-item">
            <a href="/blog/profile/<%= userData.userInfo.name%>?type=fans" id="his-fans"><i class="fa fa-user mr-1"></i>
                <% if(userData.isMe) { %>
                我的粉丝
                <% } else { %>
                他的粉丝
                <% } %>
            </a>
        </div>
    </div>
</div>
